.selectable {
  display: flex;
}

.selectable > button {
  margin: 0;
  border-radius: 0;
  background-color: #f6f4f4;
  border-top: 2px solid #34495e;
  transition: .2s all;
}

.selectable > button.active {
  background-color: #34495e;
  color: white;
}

.selectable > button:hover:not(.active) {
  background-color: #c6c9c9;
}

.settings-container {
  display: none;
  transform-origin: top left;
  transition: 0.5s all;
}

.settings-icon-container {
  position: absolute;
  top: 60px;
  right: 16px;
  z-index: 1000;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  cursor:pointer;
}